body
{
background-color: red;
}

h1 {
   color:  black;
   text-align: center; 
}

.keskel{
   text-align: center;
}
.keskel2{
   text-align: center;
   
}
table, th, td {
   border:1px solid black;
}
li{
   font-size: x-large;
}